# there we'll add differents dependencies, directories, files which we should ignore

# ignore virtual environment
/.venv

# ignore vscode files
/.vscode

# ignore pycache
/brain_games/scripts/__pycache__/brain_games.cpython-310.pyc

# ignore setup.cfg (for flake8)
setup.cfg

# ignore dist
dist/

# pycache
__pycache__
